
.annoto-player-element.nn-side-panel {
    .videoHolder,
    .topBarContainer,
    .controlBarContainer,
    #loadingSpinner_kplayer {
        transition: width ease-in-out 0.2s;
        width: calc(100% - var(--nn-side-panel-width)) !important;
        left: 0;
    }

    &:not(.nn-side-panel-left) {
        .controlBar,
        .playlistAPI {
            transition: right ease-in-out 0.2s;
            right: var(--nn-side-panel-width) !important;
        }
    }

    &.nn-side-panel-left {
        .videoHolder,
        .topBarContainer,
        .controlBarContainer,
        #loadingSpinner_kplayer {
            left: auto !important;
            right: 0 !important;
            float: right !important;
        }
        .sideBarContainerReminder.left,
        .sideBarContainer.left.openBtn {
            left: var(--nn-side-panel-width) !important;
        }
        .sideBarContainerReminder.left.shifted {
            left: calc(30% + var(--nn-side-panel-width)) !important;
        }
    }
}
